html,
body {
	margin: 0;
	color: #333;
	background: #eee;
	font: sans-serif;
}
body {
	padding: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   /* background-color: #333;*/
}

li {
    float: left;
}

li a {
    display: block;
    color: gray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    color: #111;
}